.results {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 1rem;
}

.episode {
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 4px;
}

.chunk {
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 4px;
}

.title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0rem;
    text-decoration: none;
    color: #000;
}

.title:hover {
    text-decoration: underline;
}

.transcriptLink {
    text-decoration: underline;
    color: #000;
    font-size: 0.8rem;
}

.transcriptLink:hover {
    font-weight: bold;
}


.progress {
    font-size: 0.8rem;
    color: #666;
    margin: 0rem;
}

.date {
    font-size: 0.8rem;
    color: #666;
    margin-top: 0.5rem;
}

.score {
    font-size: 0.6rem;
    color: #666;
    position: absolute;
    margin-top: 0;
    top: 0.5rem;
    left: 0.5rem;
}

.episode {
    position: relative;
}
